//--------------------------------------------------------------------------------------------------------------
//-------------------------------------------------VARIABLES----------------------------------------------------
//--------------------------------------------------------------------------------------------------------------



//$margins-------------------------------------------------------------------------------------------------------

$m-right-container: 30px;
$m-left-container: $m-right-container;

$m-top-container: 10px;
$m-top-container: $m-top-container;

//$content-------------------------------------------------------------------------------------------------------

$max-content: calc(100% - #{$m-right-container});
$max-content-tablet: calc(100% - (#{$m-right-container} * 2));
$max-content-phone: calc(100% - (#{$m-right-container} * 1));
