//--------------------------------------------------------------------------------------------------------------
//--------------------------------------------------Margins-----------------------------------------------------
//--------------------------------------------------------------------------------------------------------------


/// Margenes Arriba y Abajo
/// 
/// @ejemplo
/// 
/// 	.margin-v{
/// 		@include margin-v(25);
/// 	}
/// 

@mixin margin-v($m: 10){
	margin-top: #{$m}px; 
	margin-bottom: #{$m}px; 
}

/// Margenes Izquierda y Derecha
/// 
/// @ejemplo
/// 
/// 	.margin-h{
/// 		@include margin-h(35);
/// 	}
/// 

@mixin margin-h($m: 10){
	margin-right: #{$m}px;
	margin-left: #{$m}px;
}