//--------------------------------------------------------------------------------------------------------------
//-------------------------------------------------Paddings-----------------------------------------------------
//--------------------------------------------------------------------------------------------------------------

/// El contenedor tomara el ancho disponible en la fila!
/// 
/// @ejemplo
/// 
/// 	.class-1{
/// 		@include resto-de-ancho;
/// 	}
/// 

@mixin resto-de-ancho{
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

/// Crea un contenedor Responsivo siempre Centrado!
/// 
/// @ejemplo
/// 
/// 	.header{
/// 		@include contenedor-responsivo("Aqui coloca el margen en pixeles/em/rem/porcentaje");
/// 	}
/// 

@mixin container($m: 10px){
	width: calc(100% - #{$m});
	margin-left: auto;
	margin-right: auto;
}

/// Crea el ancho y alto proporcional!
/// 
/// @ejemplo
/// 
/// 	.header{
/// 		@include tamaño(50);
/// 	}
/// 

@mixin cuadro($t: 0){
	max-width: #{$t}px;
	max-height: #{$t}px;
	width: 100%;
	height: 100%;
}









