%place-caja{
	display: flex;
	@include margin-v(8);
	p:first-child{
		width: 55px;
		cursor: pointer;
	}
	p{
		margin:0;
		a{

		}
	}
	.int{
		display: inline-flex;
	}
}


.container{
	//NO agregar ningunca Propiedad Aqui!
	//NO agregar ningunca Propiedad Aqui!
	//NO agregar ningunca Propiedad Aqui!
	//NO agregar ningunca Propiedad Aqui!
	.proyectos{
		@include margin-v(0);
		.titulo{
			width: 162px;
			h2{
				margin: 0;
				@include tablet{
					margin-bottom: 5px;
				}
			}
		}
		
		
		.permanentes{
			.caja{
				@extend %place-caja;
			}

			.imagenes-permanentes{
				@include back-img();
				padding-bottom: 112.5% + 56.25%;
				width: 200%;
				z-index: -1;
				.img-post{
					opacity: 0;
					z-index: -1;
				}
				@include absoluto-t-l;
				left: calc(100%);

				@include tablet{
					padding-bottom:56.25%;
					width: 50%;
					left: 250px;
					top: 20px;

					display: none;
				}

			}
		}

		.temporales{
			.caja{
				@extend %place-caja;
			}

			.imagenes-temporales{
				@include back-img();
				padding-bottom: 112.5% + 56.25%;
				width: 200%;
				z-index: -1;
				.img-post{
					opacity: 0;
					z-index: -1;
				}
				@include absoluto-t-r;
				right: calc(100% + 10px);
				width: 150%;
				
				@include tablet{
					padding-bottom: 56.25%;
					width: 50%;
					right: unset;
					left: 250px;
					top: 20px;

					display: none;
				}

			}
		}
	}

	.seccion-textos{
		@include margin-v(15);
		.titulo{
			width: 162px;
			@include margin-v(7.5);
		}
		.textos-list{
			.caja{

				@extend %place-caja;
				
				&.oculto{
					display: none;
				}

				.mas-textos{
					cursor: pointer;
				}

			}
		}
	}

	.seccion-noticias{
		@include margin-v(15);
		.titulo{
			width: 162px;
			@include margin-v(7.5);
		}
		.noticias-list{
			.caja{
				@extend %place-caja;
			}
		}
	}
}