.container{
	//NO agregar ningunca Propiedad Aqui!
	//NO agregar ningunca Propiedad Aqui!
	//NO agregar ningunca Propiedad Aqui!
	//NO agregar ningunca Propiedad Aqui!
	.contacto{

		.titulo{
		}

		.caja{
			display: flex;
			flex-wrap: wrap;

			p:first-child{
				width: 250px;

				@include phone{
					margin-top: 10px;
					width: 100%;
				}
			}

			&:last-child{
				margin-bottom: 50px;
			}
		}
	}
}
